@import "_header";

.p1 {
    background-color: aqua;
    width: 600px;
    border:outset;
    border-width: 100px;
    border-color: brown, transpanent, transpanent, transpanent;
    }
.p2 {
    color: blue;
    background-color: rgb(73, 187, 187);
    }    